{% extends "base.html" %}
{% block content %}
<h2>Lista de Productos</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Acciones</th>
    </tr>
    {% for p in productos %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.cantidad }}</td>
        <td>${{ "%.2f"|format(p.precio) }}</td>
        <td>
            <a href="{{ url_for('delete_product', id_producto=p.id) }}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
